* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: monospace;
    background-color: #f4f4f4;
    text-align: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0.25rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #3b7b42;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
}

ul li a:hover { background-color: #316637; }

.circle {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-color: transparent;
    background-image: url("WritingCenterLogo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid #3b7b42;
    display: block;
    margin: 0.5rem 0;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 36px;
    color: #3b7b42;
    margin: 1rem 0;
    font-family: monospace;
}

.text {
    font-size: 18px;
    color: #ffffff;
    margin: 0.5rem auto;
    font-family: monospace;
    border-radius: 8px;
    background-color: #3b7b42;
    display: inline-block;
    padding: 0.35rem 0.7rem;
    box-sizing: border-box;
}

.text p { margin: 0; }

.header {
    font-size: 36px;
    color: #ffffff;
    margin: 0.25rem auto;
    font-family: monospace;
    border-radius: 8px;
    background-color: #3b7b42;
    /* width: 50%; */
    max-width: 100%;
    padding: 0.2rem 0.8rem;
    display: block;
    width: fit-content;
    box-sizing: border-box;
}

.header h2 { margin: 0; padding: 0; line-height: 1.2; }

.tutor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem auto;
    max-width: 1200px;
}

.tutor-list .tutor {
    font-size: 18px;
    display: inline-block;
    width: 350px;
    margin: 1rem;
    text-align: center;
    background-color: #3b7b42;
    border-radius: 8px;
    padding: 0.5rem;
    color: white;
}
.schedule {
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
    border-collapse: separate;
    border-spacing: 1rem;
    background-color: #3b7b42;
    padding: 1rem;
    border-radius: 8px;
}

.schedule th {
    background-color: #3b7b42;
    color: white;
    padding: 0.6rem;
    border-radius: 8px;
    font-size: 36px;
}

.schedule td {
    background-color: #316637;
    color: white;
    padding: 0.6rem;
    border-radius: 8px;
    text-align: center;
    min-width: 150px;
    font-weight: bold;
    font-size: 24px;
}

.button {
    background-color: #3b7b42;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 28px;
}

.button:hover { background-color: #316637; }