html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #f4f4f4;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0.25rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #1e5c1e;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
}

ul li a:hover { background-color: #144114; }

.circle {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-color: transparent;
    background-image: url("WritingCenterLogo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid #2f8e2f;
    display: block;
    margin: 0.5rem 0;
}

#logo {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 36px;
    color: #2f8e2f;
    margin: 1rem 0;
    font-family: monospace;
}

.text {
    font-size: 18px;
    color: #ffffff;
    margin: 1rem 2rem;
    font-family: monospace;
    border-radius: 8px;
    background-color: #1e5c1e;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    display: inline-block;
}